/* StudentProtfolio.html file css */


header{
    width: 100%;
    background: rgba(0, 0, 0, 0.845);
   
    
}

.logo{
    width: 50px;
    border-radius: 50%;
    margin:5px;
    float: right;
    
    
}
.logo2{
    box-sizing: border-box;
    height: 50px;
    float: right;
    margin-top: 5px;
}

footer{
    width: 100%;
    bottom: 0;
    height: 70px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.355);
    
    
}
.footer-content{
    padding-top: 10px;
}
.copyright{
    text-decoration: underline;
}

.icon{
    width: 25px;
    padding: 0.2%;
    padding-left: .1%;
    
}
.backf1{
 
width: 90%;
    
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav ul{
    /* margin: 0;
    padding: 0;
    list-style: none; */
    display: flex;
}
nav ul li{
    display: inline-block;
    /* margin-left: 10px;
    margin-right: 10px; */
    /* padding-top: 25px; */
    font-family: 'Montserrat',sans-serif;
    padding-top: 11px;
    
}



.i1{
    display: inline-block;
   width: 25px;
   height: 25px;
   background-image:url("res/linkedin-logo.png");
    background-size: 25px 25px;
    margin-right: 4px;
 
}
.i2{
    display: inline-block;
   width: 25px;
   height: 25px;
   background-image:url("/r-instagram.png");
    background-size: 25px 25px;
    margin-right: 4px;
 
}
.i1:hover{
    display: inline-block;
   width: 25px;
   height: 25px;
   background-image:url("res/r-linkedin-logo.png");
    background-size: 25px 25px;
    margin-right: 4px;
 
}
.i1:not(:hover){
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image:url("res/linkedin-logo.png");
    background-size: 25px 25px;
    margin-right: 4px;
}

.i2:hover{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image:url("res/r-instagram.png");
    background-size: 25px 25px;
    margin-right: 4px;
}
.i2:not(:hover){
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image:url("res/instagram.png");
    background-size: 25px 25px;
    margin-right: 4px;
}
.i3{ 
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image:url("res/r-contact.png");
    background-size: 25px 25px;
    margin-right: 4px;
   
 }
 .i3:hover{ 
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image:url("res/r-contact.png");
    background-size: 25px 25px;
    margin-right: 4px;
   
 }
 .i3:not(:hover){
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image:url("res/contact.png");
    background-size: 25px 25px;
    margin-right: 4px;
}
.i4{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image:url("res/r-github.png");
    background-size: 25px 25px;
    margin-right: 4px;
}
.i4:hover{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image:url("res/r-github.png");
    background-size: 25px 25px;
    margin-right: 4px;
}
.i4:not(:hover){
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image:url("res/github.png");
    background-size: 25px 25px;
    margin-right: 4px;
}


/* index.html files css */
 
 #myPhoto {
     border-radius: 50%;
     width: 120px;
     border: 5px solid rgb(255, 129, 83);
 }

 #headlines {
     color: rgb(98, 0, 255);
     font-size: large;
 }

 .block1 {
     box-sizing: border-box;
     width: 240px;
     border-radius: 8px;
     padding: 15px;
     padding-right: 20px;
     display: flex;
     overflow-x: scroll;
     background-color: aliceblue;
     scroll-snap-type: x mandatory;
     
     /* background: fixed rgb(255, 206, 122); */
     background-image: linear-gradient(-90deg,rgb(167, 167, 255),white,rgb(255, 167, 255));
    
     scroll-padding: 24px;
     gap: 15px;

 }

 .block2 {
     box-sizing: border-box;
     width: 240px;
     border-radius: 8px;
     padding: 15px;
     display: flex;
     /* overflow-x: scroll; */
     background-color: aliceblue;
     /* background: fixed rgb(255, 206, 122); */
     background-image: linear-gradient(-90deg,rgb(167, 167, 255),white,rgb(255, 167, 255));
    
     gap: 15px;

 }


 .block1 .items1 {
     flex: 0 0 85%;
     color: white;
     width: 180;
     padding: 24px;
     border-radius: 12px;
     scroll-snap-align: start;
     background-image: linear-gradient(180deg, blue, rgb(0, 234, 255));

 }

 .block2 .items2 {
     flex: 0 0 85%;
     width: 180;
     color: white;
     padding: 24px;
     border-radius: 12px;
     padding-right: 25px;
     background-image: linear-gradient(180deg, rgb(0, 255, 115), rgb(0, 255, 123), rgb(1, 82, 9));

 }

 .block1 .items3 {
     flex: 0 0 85%;
     width: 180;
     color: white;
     padding: 24px;
     border-radius: 12px;
     scroll-snap-align: start;
     background-image: linear-gradient(180deg, blue, rgb(255, 1, 43));

 }
.linksUnder{
    color: blanchedalmond;
}
.menu1{
    width: 25px;
    
}
.dropbtn {
    background-color: #b9b9b9;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; 
   
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
   
  }
  
  .dropdown {
    
    width: 100%;
    
  }
  
  .dropdown-content {
    display: none;
    position:relative;
    background-color: #00000000;
   
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    position: static;
    
  }
  .dropdown a:hover {background-color: rgb(96, 110, 107);}
  .show {display: block;

}
/* index content */
.h1-1{
    color: #000000a8;
    text-align: center;
    
}
.h1-2{
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 150px;
    padding: 10px;
    display: block;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    background-image: linear-gradient(45deg,indigo,blue);
}
.C_all{
    width: 100%;
    bottom: 0;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
   
}
.C1{
    box-sizing: border-box;
    width: 59%;
   float: left;
   font-size: large;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-indent: 50px;
   line-height: 25px;
   margin-right: 1%;
   text-align: justify;
 
    }
.C2{
    /* image project */
    box-sizing: border-box;
    width: 40%;
    display: inline-block;
    padding: 10px;
    background-color: aliceblue;
    background-image: url("res/project_img.jpg");
    background-size:100% 100%;
    height: 400px;
    border-radius: 25px;
}
  .dropbtn2 {
    color: white;
    background-color: #b9b9b9;
    padding: 16px;
    font-size: large;
    font-style: bold;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient(45deg,indigo,blue);
    cursor: pointer; 
   
  }
  
  .dropbtn2:hover, .dropbtn2:focus {
    background-image: linear-gradient(45deg,rgb(0, 123, 255),#3b3bfb);
   
  }
  
  .dropdown2 {
    
    width: 100%;
    
  }
  
  .dropdown-content-new {
    display: none;
    position:relative;
    background-color: #91000000;
   
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
  }
  
  .dropdown-content-new a {
    color: rgb(255, 255, 255);  
    background-image: linear-gradient(45deg,indigo,blue);
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    position: static;
    border-radius: 50px;
    margin-top: 5px;
    margin-right: 5px;
    
  }
  .dropdown2 a:hover {
    background-image: linear-gradient(45deg,rgb(0, 123, 255),#3b3bfb);
    color: rgb(255, 255, 255);  }
  .show {display: block;

}
