/* StudentProtfolio.html file css */


header {
    width: 100%;
    background: rgba(0, 0, 0, 0.845);


}

.logo {
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    float: right;


}

.center-logo {
    width: 65px;
    margin-top: 20px;
    border-radius: 50%;
    padding-top: 30px;



}

.logo2 {
    box-sizing: border-box;
    height: 50px;
    float: right;
    margin-top: 5px;
}

footer {
    width: 100%;
    bottom: 0;
    height: 70px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.355);


}

.footer-content {
    padding-top: 10px;
}

.copyright {
    text-decoration: underline;
}

.icon {
    width: 25px;
    padding: 0.2%;
    padding-left: .1%;

}

.backf1 {

    width: 90%;

}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav ul {
    /* margin: 0;
    padding: 0;
    list-style: none; */
    display: flex;
}

nav ul li {
    display: inline-block;
    /* margin-left: 10px;
    margin-right: 10px; */
    /* padding-top: 25px; */
    font-family: 'Montserrat', sans-serif;
    padding-top: 11px;

}



.i1 {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("res/linkedin-logo.png");
    background-size: 25px 25px;
    margin-right: 4px;

}

.i2 {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("/r-instagram.png");
    background-size: 25px 25px;
    margin-right: 4px;

}

.i1:hover {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("res/r-linkedin-logo.png");
    background-size: 25px 25px;
    margin-right: 4px;

}

.i1:not(:hover) {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("res/linkedin-logo.png");
    background-size: 25px 25px;
    margin-right: 4px;
}

.i2:hover {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("res/r-instagram.png");
    background-size: 25px 25px;
    margin-right: 4px;
}

.i2:not(:hover) {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("res/instagram.png");
    background-size: 25px 25px;
    margin-right: 4px;
}

.i3 {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("res/r-contact.png");
    background-size: 25px 25px;
    margin-right: 4px;

}

.i3:hover {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("res/r-contact.png");
    background-size: 25px 25px;
    margin-right: 4px;

}

.i3:not(:hover) {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("res/contact.png");
    background-size: 25px 25px;
    margin-right: 4px;
}

.i4 {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("res/r-github.png");
    background-size: 25px 25px;
    margin-right: 4px;
}

.i4:hover {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("res/r-github.png");
    background-size: 25px 25px;
    margin-right: 4px;
}

.i4:not(:hover) {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("res/github.png");
    background-size: 25px 25px;
    margin-right: 4px;
}


/* index.html files css */

#myPhoto {
    border-radius: 50%;
    width: 120px;
    border: 5px solid rgb(255, 129, 83);
}

#headlines {
    color: rgb(98, 0, 255);
    font-size: large;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    background-image: linear-gradient(45deg, rgb(172, 172, 244), rgb(111, 162, 194));

}

.block {
    max-width: 100%/3;
    margin: 5px;
    height: 280px;
    border-radius: 25px;
    overflow-x: scroll;
    display: flex;
    padding: 15px;
    padding-right: 20px;
    scroll-snap-type: x mandatory;
    scroll-padding: 25px;
    gap: 15px;
    border: transparent;
}

.block .items1{
    flex: 0 0 85%;
    color: white;
    width: 180;
    padding: 24px;
    border-radius: 12px;
    scroll-snap-align: start;
    background-image: linear-gradient(45deg, rgb(0, 30, 255), rgb(0, 242, 255));

}

.block .items2 {
    flex: 0 0 85%;
    color: white;
    width: 180;
    padding: 24px;
    border-radius: 12px;
    scroll-snap-align: start;
    background-image: linear-gradient(45deg, rgb(48, 1, 103), rgb(255, 0, 149));

}

.block .items3 {
    flex: 0 0 85%;
    color: white;
    width: 180;
    padding: 24px;
    border-radius: 12px;
    scroll-snap-align: start;
    background-image: linear-gradient(145deg, rgb(1, 90, 47), rgb(100, 253, 161));

}

.block .items4 {
    flex: 0 0 85%;
    color: white;
    width: 180;
    padding: 24px;
    border-radius: 12px;
    scroll-snap-align: start;
    background-image: linear-gradient(145deg, rgb(255, 0, 212), rgb(255, 0, 72));

}

.block .items5 {
    flex: 0 0 85%;
    color: white;
    width: 180;
    padding: 24px;
    border-radius: 12px;
    scroll-snap-align: start;
    background-image: linear-gradient(145deg, rgb(0, 255, 72), rgb(222, 255, 73));

}

.h3h {
    color: rgb(255, 255, 255);
    text-align: center;
}

.Space {
    width: 100%;
    height: 400px;
    background-color: transparent;
}

.Space_i {
    width: 100%;
    height: 120px;
    background-color: transparent;
}
.wallpaper {
    min-height: 500px;
    max-height:fit-content;
    background-image: url("res/a2.jpg");
    background-size: 100% 100%;
}
.index-body {
    background-image: linear-gradient(45deg, rgb(172, 172, 244), rgb(111, 162, 194));
}


.linksUnder {
    color: blanchedalmond;
}

.menu1 {
    width: 25px;

}

.dropbtn {
    background-color: #b9b9b9;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;

}

.dropdown {

    width: 100%;

}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #00000000;

    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    position: static;

}

.dropdown a:hover {
    background-color: rgb(96, 110, 107);
}

.show {
    display: block;

}

/* index content */
.h1-1 {
    color: #000000dd;
    position: absolute;
    right: 10px;
    margin-top: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;

}

.h1-2 {
    color: #001effdd;
    text-align: center;
    margin-top: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding-top: 10px;
}

.C {
    font-size: 120%;
    color: rgba(0, 0, 0, 0.798);
    font-style: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 50px;
    line-height: 150%;
    margin: 1%;
}

.dropbtn2 {
    display: grid;
    color: white;
    background-color: #b9b9b9;
    padding: 16px;
    font-size: large;
    font-style: bold;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(45deg, indigo, blue);
    cursor: pointer;

}

.dropbtn2:hover,
.dropbtn2:focus {
    background-image: linear-gradient(45deg, rgb(0, 123, 255), #3b3bfb);

}

.dropdown2 {
    width: 100%;
}

.dropdown-content-new {
    display: none;
    position: relative;
    background-color: #91000000;

    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}


.dropdown2 a:hover {
    background-image: linear-gradient(45deg, rgb(0, 123, 255), #3b3bfb);
    color: rgb(255, 255, 255);
}

.show {
    display: block;

}

/* android button */
.dropbtn_Android,.dropbtn_desktop,.dropbtn_web{
    display: inline-block;
    color: white;
    background-color: #b9b9b9;
    padding: 12px 16px;
    margin: 2px;
    font-style: bold;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(45deg, rgb(149, 0, 255), rgb(255, 0, 0));
    cursor: pointer;

}

.dropbtn_Android:hover,
.dropbtn_Android:focus {
    background-image: linear-gradient(45deg, rgb(0, 123, 255), #3b3bfb);

}
.dropbtn_desktop:hover,
.dropbtn_desktop:focus {
    background-image: linear-gradient(45deg, rgb(0, 123, 255), #3b3bfb);

}
.dropbtn_web:hover,
.dropbtn_web:focus {
    background-image: linear-gradient(45deg, rgb(0, 123, 255), #3b3bfb);

}

.dropdown3,
.dropdown4,.dropdown5{
    width: 100%;
}


.dropdown-content-android,.dropdown-content-desktop,.dropdown-content-web {
    display: none;
    position: relative;
    background-color: #91000000;

    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}
.show {
    display: block;
}
.desktop-img {
    width: 200px;
    float: right;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}
.water {
    background-image: url("res/water.png");
    width: 100%;
    height: 300px;
    
}

.web-img {
    width: 400px;
    float: right;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

.dropdown-content-android h2,
.dropdown-content-desktop h2,
.dropdown-content-web h2 {
    color: rgb(255, 0, 0);
    padding: 12px 16px;
    text-decoration: underline;
    margin-top: 5px;
    margin-right: 5px;
}

.dropdown-content-android p,
.dropdown-content-android li,
.dropdown-content-desktop p,
.dropdown-content-desktop li,
.dropdown-content-web p,
.dropdown-content-web li {
    margin: 5px;
    font-family: cursive;
    list-style: circle;
}

.dropdown-content-android img {
    width: 200px;
    float: right;
}

.dropdown-content-android h3,
.dropdown-content-desktop h3,
.dropdown-content-web h3 {
    text-decoration: underline;
    color: rgb(255, 0, 0);
    margin-top: 20px;
    margin-left: 5px;
}
/* ------------------------------------------------------------------------------------------------- */
/* about.html page here */
.about-class {
    background-image: linear-gradient(90deg, blue, rgb(200, 0, 255));
}

.Space_a {
    width: 100%;
    background-color: transparent;
}

.about-class h1 {
    color: white;
    margin-top: 0;
    padding-top: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

.about-class p {
    color: white;
    font-size: 150%;
    font-style: italic;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

/* ---------------------------------------------------------------- */